<h1> Discover </h1>


<div>Discover by Pillars: </div>
  <select ng-model="vm.pillar">
    <option disabled selected value>* Select Pillar *</option>
    <option>Graffitti</option>
    <option>Break Dance</option>
    <option>Beatbox</option>
    <option>DJ</option>
    <option>Rap</option>
  </select>

  <button ng-click = "vm.discover()"> Discover </button>

<ul ng-repeat="post in vm.posts">
  <li>
    <div>{{post.pillar}}</div>
    <img src="{{post.url}}">
    <div>{{post.description}}</div>
  </li>
</ul>
