<h1>Pillar5</h1>

<div>

  <h5>Login</h5>

      <div>

        <!-- Login form -->
        <form ng-submit="vm.login()">
          <div>
            <label>Email</label>
            <input ng-model="vm.user.email">
          </div>
          <div>
            <label>Password</label>
            <input ng-model="vm.user.password">
          </div>
          <button>Submit</button>
        </form>

     </div>

    <a href="/register.html"><button>Creat Account</button></a>

</div>


<h1>Home Page</h1>

<button data-fp-video-length = "30" ng-click = "vm.pickFile()" type="filepicker" onchange="console.log(event.fpfile)"> Upload </button>

<!-- <button ng-click = "vm.pickFile()"> Upload </button> -->

<h2>{{vm.file.filename}}</h2>
<img ng-src="vm.file.url" alt=""/>{{vm.file.url}}
