<div>

  <h5>Register</h5>

      <div>

        <!-- Register form -->
        <form ng-submit="vm.register()">
          <div>
              <div>
                <label>Full Name</label>
                <input ng-model="vm.user.name">
              </div>
              <div>
                <label>Tag(Username)</label>
                <input ng-model="vm.user.tag">
              </div>
              <div>
                <label>Email</label>
                <input ng-model="vm.user.email">
              </div>
              <div>
                <label>Password</label>
                <input ng-model="vm.user.password">
              </div>
            <button>Submit</button>
          </div>
        </form>

     </div>
</div>
