<div>

  <h1>Register</h1>

      <div>

        <!-- Register form -->
        <form ng-submit="vm.register()">
          <div>
              <div>
                <label>Full Name</label>
                <input ng-model="vm.user.name">
              </div>
              <div>
                <label>Tag(Username)</label>
                <input ng-model="vm.user.tag">
              </div>
              <div>
                <label>Email</label>
                <input ng-model="vm.user.email">
              </div>
              <div>
                <label>Password</label>
                <input ng-model="vm.user.password">
              </div>
              <div>
              <label>Pillar: </label>
                <select ng-model="vm.user.pillar">
                  <option disabled selected value>* Select Pillar *</option>
                  <option>Graffiti</option>
                  <option>Break Dance</option>
                  <option>Beatbox</option>
                  <option>DJ</option>
                  <option>Rap</option>
                </select>
              </div>
              <div>
                <label>Region: </label>
                  <select ng-model="vm.user.region">
                    <option disabled selected value>* Select Region *</option>
                    <option>North America</option>
                    <option>South America</option>
                    <option>Europe</option>
                    <option>Asia</option>
                    <option>Australia</option>
                    <option>Africa</option>
                  </select>
                </div>

            <button>Submit</button>
          </div>
        </form>

     </div>
</div>
<a href="/api/users/facebook" class="btn btn-primary">Facebook</a>

<!-- <a ui-sref="Facebook Login" style="float:right;">Facebook Login ></a> -->
